DATABASE_URL="postgresql://weivas:weivas@localhost:5432/weivas?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
EMAIL_FROM="Weivas <no-reply@example.test>"
EMAIL_PROVIDER_API_KEY=""
STORAGE_PROVIDER="development"
STORAGE_BUCKET=""
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""
